<table>
  <tbody>
    <tr>
      <td class="godzina" rowspan="4">7:00</td>
      <td class="tg-0lax" rowspan="3">matma</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
      <td class="tg-0lax" rowspan="3">angielski</td>
    </tr>
    <tr>
      <td class="godzina" rowspan="4">8:00</td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td class="tg-0lax">a</td>
    </tr>
    <tr>
      <td class="tg-0lax">a</td>
    </tr>
  </tbody>
  <!--<ng-container *ngFor="let godzina of godziny">
    <tr>
      <td rowspan="4">project1</td>
      <td rowspan="4">prod</td>
      <td rowspan="4">project1data</td>
      <td>project1 multi row data1</td>
    </tr>
    <tr>
      <td>project1 multi row data2</td>
    </tr>
    <tr>
      <td>project1 multi row data3</td>
    </tr>
    <tr>
      <td>project1 multi row data4</td>
    </tr>
  </ng-container>-->

</table>

<table>
	<tr>
		<td height="80" rowspan="2">7:00</td>
		<td>matma</td>
	</tr>
	<tr>
		<td rowspan="2">angielski</td>
	</tr>
	<tr>
		<td height="80">8:00</td>
	</tr>
<table>
