<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Plan zajęć</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon color="primary" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="changeMode($event)" value="day">
      <ion-segment-button value="week">
        <ion-label>Tydzień</ion-label>
      </ion-segment-button>
      <ion-segment-button value="day" (click)="today()">
        <ion-label>Dziś</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" *ngIf="calendar.mode === 'day'" (click)="changeDay('prev')" [disabled]="calendar.currentDate.getDay() === 1">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" *ngIf="calendar.mode === 'day'" (click)="changeDay('next')" [disabled]="calendar.currentDate.getDay() === 0">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!--Template do wyświetlania danych o evencie w widoku dnia-->
  <ng-template #DayEventTemplate let-displayEvent="displayEvent">
    <div *ngIf="!displayEvent.event.noClasses" class="calendar-event-inner">{{displayEvent.event.time}} {{displayEvent.event.lesson}}<br>{{displayEvent.event.place}} <!--{{displayEvent.event.lecturer}}--></div>
    <div *ngIf="displayEvent.event.noClasses" class="calendar-event-inner no-classes">Dzisiaj wolne ;)</div>
  </ng-template>

  <!--Template do wyświetlania danych o evencie w widoku tygodnia-->
  <ng-template #WeekEventTemplate let-displayEvent="displayEvent">
    <div *ngIf="!displayEvent.event.noClasses" class="calendar-event-inner" style="font-size:8px;">{{displayEvent.event.lesson}}</div>
  </ng-template>

  <!--<ng-template #MonthDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
      <ion-item *ngFor="let event of selectedDate?.events" (click)="eventSelected(event)">
        <div>
          <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">{{event.startTime|date: 'HH:mm'}}-{{event.endTime|date: 'HH:mm'}} </span>
          <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day</span>
          <span class="event-detail">&nbsp;{{event.lesson}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">{{noEventsLabel}}</div>
      </ion-item>
    </ion-list>
  </ng-template>-->

  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            [step]="calendar.step"
            [locale]="calendar.locale"
            formatHourColumn="HH:mm"
            [dayviewNormalEventTemplate]="DayEventTemplate"
            [startHour]="8"
            [endHour]="21"
            [weekviewNormalEventTemplate]="WeekEventTemplate"
            noEventsLabel="Brak zajęć"
            [dateFormatter]="calendar.dateFormatter"
            [lockSwipes]="true"
            [startingDayWeek]="1">
  </calendar>

  <app-ad></app-ad>

</ion-content>
