<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>O aplikacji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">O aplikacji</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Obsługa języków (lektoratów) już niedługo. WFu raczej nie będzie bo plan jest w formie PDF...</p>

  <p>Do uczelni: proszę nie zmieniajcie już nic w tych swoich systemach; najpierw inne numeracje grup rektorskich a teraz nawet hornet już nie działa. Błagam.</p>


</ion-content>
<ion-footer class="ion-text-center">
  mUEP by Patryk Szreder, v1.0
</ion-footer>
