<ion-header translucent>
  <ion-toolbar>
    <ion-title>Ustawienia planu zajęć</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Gotowe</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-accordion-group *ngFor="let schedule of schedules">
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>{{schedule.name}}</ion-label>
      </ion-item>

      <ion-card slot="content">
        <ion-card-header>
          <ion-card-subtitle>Wydział {{schedule.values.department.name}}</ion-card-subtitle>
          <ion-card-title>{{schedule.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Typ: {{schedule.values.type.name}}</p>
          <p>Stopień: {{schedule.values.cycle.name}}</p>
          <p>Numer albumu: {{schedule.values.album || "Brak"}}</p>
        </ion-card-content>
      </ion-card>
    </ion-accordion>
  </ion-accordion-group>

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
