<ion-header>
  <ion-toolbar>
    <ion-title>Cześć!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
  <p>
    Dziękujemy za pobranie aplikacji!
  </p>

  <p>
    Przed wyświetleniem planu zajęć potrzebujemy kilku danych o tobie:
  </p>

  <ion-list>
    <ion-radio-group [(ngModel)]="type" (ionChange)="updateDepsList()">
      <ion-list-header>
        <ion-label>Forma studiów</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let typee of types">
        <ion-label>{{typee.name}}</ion-label>
        <ion-radio slot="start" [value]="typee.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group [(ngModel)]="cycle" (ionChange)="updateDepsList()">
      <ion-list-header>
        <ion-label>Stopień studiów</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let cyclee of cycles">
        <ion-label>{{cyclee.name}}</ion-label>
        <ion-radio slot="start" [value]="cyclee.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Studia w zakresie</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-select [interfaceOptions]="{header:'Studia w zakresie'}" interface="alert" [(ngModel)]="department" (ionChange)="updateYearList()" placeholder="Zakres" [disabled]="!cycle || !type">
        <ion-select-option *ngFor="let depp of deps" [value]="depp.id">{{depp.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Rok studiów</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-select [interfaceOptions]="{header:'Rok studiów'}" interface="alert" [(ngModel)]="year" (ionChange)="updateGroupList()" placeholder="Rok" [disabled]="!cycle || !type || !department">
        <ion-select-option *ngFor="let yearr of years" [value]="yearr.id">{{yearr.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Grupa</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-select [interfaceOptions]="{header:'Grupa'}" interface="alert" [(ngModel)]="group" placeholder="Grupa" [disabled]="!cycle || !type || !department || !year">
        <ion-select-option *ngFor="let groupp of groups" [value]="groupp.id">{{groupp.nameShort}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Numer albumu (opcjonalnie)</ion-label>
    <ion-input type="number" [(ngModel)]="album" placeholder="123456"></ion-input>
  </ion-item>
  <ion-item>
    <ion-note>Numer albumu jest używany w celu pobrania danych o lektoratach. Nie jest wymagany.</ion-note>
  </ion-item>


  <ion-button expand="block" (click)="done()" [disabled]="!group || !year || !department || !cycle || !type" class="ion-margin-top">Dalej</ion-button>

</ion-content>
